<ion-view view-title="Add Courses" hide-back-button="false">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
        <ion-list>
            <ion-item ng-repeat="course in courselist | filter:searchText">

                <div class="list">
                    <center>
                        <h3 ng-click="edit(profile); AddCourse(profile, course.coursename)">{{course.coursename}}</h3></center>
                </div>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>