<ion-view view-title="Find Tutor" hide-back-button="false">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
        <ion-list>
            <ion-item ng-repeat="course in courselist | filter:searchText">

                <div class="list">
                    <center>

                        <h3 ng-click="ChangeCourse(course.coursename); GetCourse()"><a href="#/app/map"
                                                                                       style="color: black; text-decoration: none;">{{course.coursename}}</a>
                        </h3></center>

                </div>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>