<!--
Matt's code that retrieves data from django server. Let's leave this commented if 
we end up using this code, it could serve as a template for doing similar things
<ion-view view-title="My Profile" hide-back-button="true">
	<ion-content>
		<ion-item>
			{{$stateParams.userId}}
			<h1>{{userprofile.firstname}} {{userprofile.lastname}}</h1>
			<h3><b>Subject:</b> {{userprofile.subject}}</h3>
			<h3><b>Rate:</b> {{userprofile.rate}}</h3>
			<h4><b>About me:</b> {{userprofile.aboutme}}</h4>
		</ion-item>
	</ion-content>
</ion-view>
-->
<ion-view view-title="My Profile" hide-back-button="true">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item">
                <center><h1>{{profile.firstname}} {{profile.lastname}}</h1></center>
            </div>
            <div class="item item-body">
                <center><img style="border:1px solid black;" src="http://graph.facebook.com/{{profile.facebook_id}}/picture?width=170&height=170"/></center>
            </div>
            <div class="item item-body">
                <h2><b>About me: </b></h2>{{profile.aboutme}}
                <h2><b>Rate: </b></h2>${{profile.rate}} /hour
                <h2><b>Language: </b></h2>{{profile.language}}<br>
            </div>
        </div>
        <ion-toggle ng-model="profile.active" toggle-class="toggle-calm" ng-click="edit(profile); updateProfile(profile,profile.active)">Active Tutor</ion-toggle>

        <ion-item ng-repeat="course in courselist">

            <div class="list">
                <center>

                    <h3 ng-click="removeCourse(profile, course, courselist); edit(profile)">{{course}}</h3></center>

            </div>
        </ion-item>

        <div class="row  padding removePM">
            <div class="col"> <a class=" button-positive button button-block" href="#/app/editprofile"><i class="icon ion-edit"></i></a> </div>
            <div class="col"> <a class=" button-positive button button-block" ng-click="getCourses(profile)" ><i class="icon ion-university"></i></a> </div>
        </div>
        </ion-list>

    </ion-content>
</ion-view>

