<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<body>
<ion-view view-title="Edit Profile" hide-back-button="false">
    <ion-content scroll="true">

        <div class="list list-inset removePM">
            <label class="item item-input"><input type="text" ng-model="user.firstname" placeholder="First Name"> </label>
            <label class="item item-input"><input type="text" ng-model="user.lastname" placeholder="Last Name"> </label>
            <label class="item item-input"><input type="text" ng-model="user.aboutme" placeholder="About Me"> </label>
            <label class="item item-input"><input type="number" min="0" ng-model="user.rate" placeholder="Rate"> </label>
            <label class="item item-input"><input type="text" ng-model="user.language" placeholder="Language"> </label>
        </div>
        <div class="row  padding removePM">
            <div class="col"><a class=" button-positive button button-block" ng-click="edit(user)"><i
                    class="icon ion-android-checkbox"></i></a></div>
        </div>
    </ion-content>
</ion-view>
</body>