<ion-view view-title="Find a Tutor" hide-back-button="false">
    <ion-content overflow-scroll="true">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
    </label>
        <ion-list>
            <ion-item ng-repeat="userprofile in userprofiles | filter:searchText">

                <div class="list">
                    <!--<a class="item item-thumbnail-left" href="#">-->
                    <img style="border:1px solid black;" src="http://graph.facebook.com/{{userprofile.facebook_id}}/picture?width=150&height=150"/>
                    <h3><b>{{userprofile.firstname}} {{userprofile.lastname}}</b></h3>
                    <h4><b>User number:</b> {{userprofile.user}}</h4>
                    <h4><b>Teaches:</b> {{userprofile.subject}}</h4>
                    <h4><b>Rate:</b> {{userprofile.rate}}</h4>
                    <h4><b>About me:</b> {{userprofile.aboutme}}</h4>
                        <a class="button-positive button button-block" href="#/app/sendmessage/{{userprofile.user}}"><i class="icon ion-email"></i></a>
                    <!--</a>-->

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>