<ion-view view-title="Help" hide-back-button="false">
    <ion-content overflow-scroll="true">
        <ion-list>
                <div class="help-content">
                    <h2>TutorPal</h2>
                    <h3>Makers</h3>
                        <h4>Matthew , Jared, Adityan</h4>

                    <body>This is an on demand tutoring app. To use this app follow the following steps:
                        <ul>
                            <li> 1. Facebook login: Login with facebook into the app and you will be taken to the dashboard</li> 
                            <li>2. Click on the edit button below your profile picture to fill in your first and last name, a section about yourself, rate and language. Click the button below to update your profile. </li>
                            <li>3. Toggle the Active tutor button to set yourself as available for tutoring sessions</li>
                            <li>4. Use the find tutor list to find tutors who are active near your location</li>
                            <li>5. Use the Add Courses link from the menu bar to add courses for which you want to be  tutor or want tutoring sessions</li>
                            <li>6. Check your inbox and sent messages to see your messages</li>
                            <li>7. Once you have found a tutor of your liking, you can send them a message to fix up an appointment</li>
                            <li>8. Finally you can log out by pressing the log out button on the menu bar</li>

                        </ul>
                    </body>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>