<!DOCTYPE html>
<html lang="en">
<body>
<ion-view view-title="Map" hide-back-button="false">
    <ion-content scroll="false">
        <!--{{coords.latitude}}, {{coords.longitude}} -->

        <div id="map" data-tap-disabled="true"></div>

    </ion-content>
</ion-view>
</body>
</html>