<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button id="leftMenu" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
	
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="loginBg" >
    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content >
      <ion-list id="menuLinks">
        <ion-item menu-close href="#/app/dashboard"> My Profile </ion-item>
        <ion-item menu-close href="#/app/courselist"> Find Tutor </ion-item>
        <ion-item menu-close href="#/app/findtutor"> User List </ion-item>
        <!--<ion-item menu-close href="#/app/wallet"> Wallet </ion-item>-->
        <ion-item menu-close href="#/app/AddCourses"> Add Course </ion-item>
        <ion-item menu-close href="#/app/inbox"> Inbox </ion-item>
        <ion-item menu-close href="#/app/sent"> Sent </ion-item>
        <ion-item menu-close href="#/app/messages"> All Messages </ion-item>
        <ion-item menu-close href="#/app/help"> Help </ion-item>
        <!--<ion-item menu-close href="#/app/settings"> Settings </ion-item>-->
        <!--<ion-item menu-close href="#/app/history"> History </ion-item>-->
        <!--<ion-item menu-close href="#/app/map"> Map </ion-item>-->
        <!--  <ion-item menu-close href="#/app/profiles"> OST Team </ion-item> -->
		<ion-item menu-close href="#" ng-click="logout()"> Logout </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
