<ion-view view-title="Send Message" hide-back-button="false">
    <ion-content class="has-header">
        Sender = {{profile.user}}
        Recipient = {{sendto}}
        <div class="list list-inset removePM">
            <label class="item item-input"><input type="text" ng-model="messagebody" placeholder="Message"> </label>
        </div>
        <div class="row  padding removePM">
            <div class="col"><a class=" button-positive button button-block" ng-click="send(messagebody);"><i
                    class="icon ion-android-checkbox"></i></a></div>
        </div>
    </ion-content>
</ion-view>
