<ion-view view-title="Sent Messages" hide-back-button="false">
    <ion-content overflow-scroll="true">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchText">
        </label>
        <ion-list>
            <ion-item ng-repeat="message in sentlist | filter:searchText">

                <div class="list">
                    <h2>Message:{{message.body}}</h2>

                    <h2>Sender:{{message.sender}}</h2>
                    <h2>Recipient:{{message.recipient}}</h2>
                    <h2>Timestamp: {{message.created}}</h2>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>