<div class="tabs-striped  tabs-background-positive tabs-color-dark">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
           <div class="app-logo"><img src="http://graph.facebook.com/{{FBuser.id}}/picture?width=200&height=200"/></div>
<!--This actually does create a model called user with these fields.  I can't for the life of me figure out how to
post this data to the server.-->
          <div class="list list-inset removePM">
              <label class="item item-input"><input type="text" ng-model="user.firstname" placeholder={{FBuser.first_name}} value={{FBuser.first_name}} > </label>
              <label class="item item-input"><input type="text" ng-model="user.lastname" placeholder={{FBuser.last_name}} value={{FBuser.last_name}}> </label>
              <label class="item item-input"><input type="text" ng-model="user.aboutme" placeholder="About Me" > </label>
              <label class="item item-input"><input type="text" ng-model="user.subject" placeholder="subject" > </label>
              <label class="item item-input"><input type="number" ng-model="user.rate" placeholder="Rate" > </label>
              <label class="item item-input"><input type="text" ng-model="user.language" placeholder="Language" > </label>
              <label class="item item-input"><input type="number" ng-model="user.location" placeholder="Zip Code" > </label>
          </div>
            <div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="signup(FBuser,user);"> Register </button>  </div>
      </div>
  </div>

    <div class="row  padding removePM">
      <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignUp()"><i class="icon ion-social-facebook"></i></a> </div>
    </div>

  </ion-content>
</ion-view>
