<ion-view view-title="Sign In" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding removeBP">
	  <div class="col">
			<div class="app-logo"><img src="img/logo.png"></div>

	  </div>
  </div>
	  Login with Facebook!
	<div class="row  padding removePM">
	  <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
	</div>

  </ion-content>
</ion-view>
